@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; 
}

h1 {
    font-size: 60px;
    color: #BDB76B;
}

p{
    font-size: 15px;
    color: #708090;
}
section .animate {
    transition: 1s;
}
.sec-1 .animate {
    transform: translateX(-100%);
}
.sec-1.show-animate .animate {
    transform: translateX(0);
}
.sec-1{
    background-image: url('src/assets/images/fond-modele-nouvel-an-islamique.jpg');
    background-size: cover;
}
.section-title {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .section-subtitle {
    font-size: 1.2em;
    color: #777;
  }
  
  .product-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* max-height: 250px; */
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.3em;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1em;
    color: #666;
  }
  
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }
  
  .stars {
    color: #f8d64e;
  }
  
  .price {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .reviews {
    font-size: 0.9em;
    color: #999;
  }