<app-header></app-header>

<section class="sec-1 show-animate mt-5">
  <div class="container text-center py-5">
    <h1 class="animate"> Bienvenue sur notre plateforme de boutiques en ligne </h1>
  </div>
</section>

<section class="sec-2 show-animate">

  <div class="container my-5">

    <div class="container my-5">
      <div class="text-center mb-5">
        <h2 class="section-title">MEILLEURES Produits</h2>
        <p class="section-subtitle">Plus de 3700 clientes satisfaites recommandent ces produits.</p>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card product-card">
            <img src="assets/images/image3.jpg" class="card-img-top" alt="Caftan Kenza Bleu">
            <div class="card-body text-center">
              <h5 class="card-title">Caftan Kenza Bleu</h5>
              <div class="price">35,00€</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <img src="assets/images/image2.jpg" class="card-img-top" alt="Caftan Kenza Rouge">
            <div class="card-body text-center">
              <h5 class="card-title">Caftan Kenza Rouge</h5>
              <div class="price">35,00€</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <img src="assets/images/image 1.jpg" class="card-img-top" alt="Caftan Kenza Cyan">
            <div class="card-body text-center">
              <h5 class="card-title">Caftan Kenza Cyan</h5>
              <div class="price">35,00€</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card product-card">
            <img src="assets/images/image4.jpg" class="card-img-top" alt="Caftan Marocain Dora Blanc">
            <div class="card-body text-center">
              <h5 class="card-title">Caftan Marocain Dora Blanc</h5>
              <div class="price">79,00€</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-title">Grande variété</h3>
            <p class="card-text mb-1">Nous offrons une grande variété de vêtements pour correspondre à votre style. Des
              tenues décontractées aux tenues formelles, nous avons ce qu'il vous faut.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-title">Haute qualité</h3>
            <p class="card-text mb-1">Tous nos vêtements sont fabriqués à partir de matériaux de haute qualité et conçus
              pour durer. Nous croyons en la fourniture d'un bon rapport qualité-prix.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-title">Service client</h3>
            <p class="card-text mb-1">Notre équipe de service à la clientèle est toujours prête à aider. Si vous avez
              des questions ou des préoccupations, n'hésitez pas à nous contacter.</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>






<app-footer></app-footer>

<style>
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }



  .sec-2,
  .sec-3 {
    background-color: #ffffff;
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
  }

  p {
    font-size: 16px;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }

  .card {
    margin-top: 20px;
  }

  .card-title {
    font-size: 1.5rem;
    color: #007bff;
  }

  .show-animate {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }


  .section-title {
    font-size: 2.5em;
    font-weight: bold;
  }

  .section-subtitle {
    font-size: 1.2em;
    color: #777;
  }

  .product-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .product-card:hover {
    transform: translateY(-10px);
  }

  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 500px;
    object-fit: cover;
  }

  .card-title {
    font-size: 1.3em;
    font-weight: bold;
  }

  .price {
    font-size: 1.2em;
    font-weight: bold;
    color: #e74c3c;
  }

  .row>.col-md-3 {
    padding-right: 15px;
    padding-left: 15px;
  }
</style>