<app-header></app-header>

<section class="sec-1 show-animate">
<div class="container text-center py-5">
  <h1 class="animate">Bienvenue sur Platform Clothes</h1>
  <p class="animate">Votre guichet unique pour tous vos besoins vestimentaires.</p>
</div>
</section>

<section class="sec-2 show-animate">
  <div class="container text-center py-5">
    <h1 class="animate">Grande variété</h1>
    <p class="animate">Nous offrons une grande variété de vêtements pour correspondre à votre style. Des tenues décontractées aux tenues formelles, nous avons ce qu'il vous faut</p>
  </div>
  </section>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Grande variété</h2>
      <p class="card-text mb-1" style="font-size: 14px">Nous offrons une grande variété de vêtements pour correspondre à votre style. Des tenues décontractées aux tenues formelles, nous avons ce qu'il vous faut.</p>
    </div>
    <div class="col-md-4">
      <h2>Haute qualité</h2>
      <p class="card-text mb-1" style="font-size: 14px">Tous nos vêtements sont fabriqués à partir de matériaux de haute qualité et conçus pour durer. Nous croyons en la fourniture d'un bon rapport qualité-prix.</p>
    </div>
    <div class="col-md-4">
      <h2>Service client</h2>
      <p class="card-text mb-1" style="font-size: 14px" >Notre équipe de service à la clientèle est toujours prête à aider. Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter.</p>
    </div>
  </div>
</div>

<div class="container text-center py-5">
  <h2>Devenez vendeur</h2>
  <p class="card-text mb-1" style="font-size: 14px">Notre plateforme offre également la possibilité de créer votre propre boutique et de devenir vendeur. Rejoignez notre communauté de vendeurs et faites croître votre entreprise avec nous.</p>
</div>

<h5 class="text-center pt-5 pb-5" style="font-size: 30px;">Autre produits </h5>
  <div class="container">
    <div class="row mb-3">
      <div *ngFor="let produit of Recents | slice:0:4 " class="col-xl-3 col-lg-3 col-md-4 col-sm-2 d-flex articles_boutique_une" style="justify-content: center">
        <div class="card card_content border-0">
          <a [href]="'http://localhost:4200/article/' + produit.id">
            <div *ngFor="let image of produit.images">
              <img [src]="image.url" class="card-img-top img_product img-fluid" alt="product_card" style="height: 400px;object-fit: cover;">
            </div>
          </a>
          <img alt="" class="topright pointer" height="30" [id]="'art' + produit.id" src="assets/images/likevide_1.png" width="30">
          <div class="card-body p-2" style="text-align: center;">
            <p class="mb-1"></p>
            <h5 class="card-title mb-1">{{ produit.nom }}</h5>
            <p class="card-text mb-1" style="font-size: 14px">Catégorie : {{ produit.categorie }}</p>
            <p class="card-text mb-1" style="font-size: 14px">{{ produit.prixLocation }},00 DH</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<app-footer></app-footer>