<app-header></app-header>
<div class="row" id="div_articles">
  <div *ngFor="let produit of produits" class="col-6 col-xl-4 col-lg-4 col-md-4 col-sm-6 d-flex flex-column move-right custom-size">
    <div class="card card_content border-0">
      <a [href]="'https://app.beldilook.ma/fr/produit/' + produit.id">
        <img [src]="produit.image" class="card-img-top img_product img-fluid" alt="product_card">
      </a>
      <img #favIcon [id]="'art' + produit.id" (click)="favoris(produit.id, favIcon.id)" class="topright pointer" height="30" width="30" src="../../assets/images/likevide_1.png" alt="">
      <p class="mb-1"> <a [href]="'https://app.beldilook.ma/fr/boutiqua/' + produit.vendeurId">vendeur{{ produit.vendeurId }}</a></p>
        <h5 class="card-title mb-1">{{ produit.nom }}</h5>
        <p style="font-size: 14px" class="card-text mb-1"> État : {{ produit.etat }} </p>
        <p style="font-size: 14px" class="card-text mb-1">{{ produit.prix }} DH</p>
      </div>
    </div>
  </div>
<div class="mt-5" style="text-align: center;padding-bottom:50px">
  <a (click)="precedent()" class="paginationa" style="cursor: pointer">❮</a>
  <a (click)="suivant()" class="paginationa" style="cursor: pointer">❯</a>
</div>
<app-footer></app-footer>
