<app-header></app-header>

<div class="row m-5  justify-content-center ">
  <div class="col-5  justify-content-center ">

    <div class="img-boutique-detail bg-danger " style="height: 120px;"><img src="" alt=""></div>
    <h1>{{boutique.nom}}</h1>
    <app-commentaire class=""></app-commentaire>

    <h4>Avis : </h4>
    <div class="row">
      <div class="col-5 d-block align-items-start ">

        <h4>4.8</h4>
        <div class="rating">
          <i class="fa fa-star fa-2x" aria-hidden="true"></i>
          <i class="fa fa-star fa-2x" aria-hidden="true"></i>
          <i class="fa fa-star fa-2x" aria-hidden="true"></i>
          <i class="fa fa-star fa-2x" aria-hidden="true"></i>

        </div>

      </div>
      <div class="col-5">

        <div class="commentaire">
          <div class="client-img">

            <img src="" alt="">
          </div>
          <div class="client">
            <div class="d-flex align-items-start ">
              <h5 class="mr-2">AAMMAR ANWAR</h5>
              <span>3h</span>
            </div>


            <p>Tres bon service !</p>
          </div>
        </div>

        <div class="commentaire">
          <div class="client-img">

            <img src="" alt="">
          </div>
          <div class="client">
            <div class="d-flex align-items-start ">
              <h5 class="mr-2">AAMMAR ANWAR</h5>
              <span>3h</span>
            </div>


            <p>Tres bon service !</p>
          </div>
        </div>



      </div>
    </div>

  </div>
  <div class="col-5">
    <h3>Description : </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus at aliquam sint suscipit
      molestiae ab
      impedit temporibus blanditiis alias ducimus! Inventore exercitationem autem impedit temporibus
      excepturi
      deleniti ex vitae consequatur.</p>
    <h3>Localisation : </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus at aliquam sint suscipit
      molestiae ab
      deleniti ex vitae consequatur.</p>
  </div>
</div>
<app-footer></app-footer>