
<app-header></app-header>
  
     <!-- Google tag (gtag.js) -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-4EZ9HQPFZT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-4EZ9HQPFZT');
    </script>
    


  <div style="padding-top: 15px">

    
<style>
  .btn_sort_2:hover{
        background-color: #83cad3;
        border: 1px solid #2d1194;
    }
    .btn_sort_2{
        background-color: #ffffff;
        border: 1px solid #2d1194;
        font-size: 17px;
        width: 150px;
        color: #2d1194;
        height: 40px;
        border-radius: 30px;
    }
       .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #B09636;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: relative;
  left: 35%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes  spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/**  */



</style>
<div class="modal" id="modal_loading" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background-color: transparent;border:transparent">
      
        <div class="modal-body">
          <div style="align-items: center;position:relative">
  
            <div class="loader"></div>
          </div>
          
        </div>
       
      </div>
    </div>
  </div>
<div class="col" id="snackbar">Some text some message..</div>
<div style="text-align: center">
        <img id="image_p" style="border-radius: 50%" src="assets/images/20240207123950547715PBO.JPEG" alt="" height="150px" width="150px">
    </div>
<div style="text-align: center">
    <h3>assia</h3>
</div>
<hr>

















































   <div class="container">

    <div class="row p-2 " style="row-gap: 27px;">
      <div class="col  col-xl-3 col-lg-3 col-md-12 col-sm-12 d-flex flex-column justify-content-around">

        
      <div class="row slidecontainer">
        <div class="col">
          <p style="font-weight: 500;"> 
            Min <span style="font-size:15px" id="pix_minimum">0 DH</span> </p>
        </div>
        <div class="col">
          <p class=" RadialProgress radian  ">
            <span style="font-size:15px" id="demo">0 DH</span> 
            <span style="font-size: 15px ; margin-left: 2px"> Max</span>
          </p>
        </div>
        <div class="w-100"></div>
        <div class="col pr-0">
          <input class="progress_input slider slider_min  p-0 " id="myRange_minimum" type="range" value="0" min="0" max="30000"></div>
        <div class="col pl-0"> 
          <input type="range" min="0" max="30000" value="0" class="slider  slider_max p-0 " id="myRange"> </div>
      </div>
  
        
       
      
      <div>
        
  
       
      
      </div>
  
                          
  
      </div>
      <div class="col  col-xl-5 col-lg-5 col-md-12 col-sm-12  ">
  
  
        <div class="scrollable-tabs-container-tailles container" id="scrollable-tabs-container-tailles" style="height: 42px;">
                       
          <ul class="tailles_responsive">
  
              <li>
                <a class="class_tailles" style="padding-left: 16px;
                    padding-top: 13px;cursor: pointer;" donn="XS">XS</a>
              </li>
      
              <li>
                <a class="class_tailles" style="padding-top: 13px;
                padding-left: 21px;cursor: pointer;" donn="S">S</a>
              </li>
      
              <li>
                <a class=" class_tailles" style="padding-top: 13px;
                padding-left: 18px;cursor: pointer;" donn="M">M</a>
              </li>
      
              <li>
                <a class="class_tailles" style="    padding-top: 13px;
                padding-left: 20px;cursor: pointer;" donn="L">L</a>
              </li>
      
              <li>
                <a class="class_tailles" style="padding-top: 13px;
                padding-left: 17px;cursor: pointer;" donn="XL">XL</a>
              </li>
      
              <li>
                <a class="class_tailles" style="padding-top: 13px;
                padding-left: 12px;cursor: pointer;" donn="XXL">XXL</a>
              </li>
      
              <li>
                <a class=" class_tailles" style="padding-top: 15px;
                padding-left: 13px;cursor: pointer;" donn="3XL">3XL</a>
              </li>
    
            </ul>
  
         
      </div>
  
  
      </div>
      <div class="col  col-xl-4 col-lg-4 col-md-12 col-sm-12   ">
  
        <div class="scrollable-tabs-container container">
          <div class="left-arrow ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path>
              </svg>
          </div>
  
          <ul class="mt-1" style="height: 73px;">
    <li donn="#EFEFF4" class="class_colors">
  <a style="background-color: #EFEFF4;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#EFEFF4"></a>
  </li>
    <li donn="#E6D0C5" class="class_colors">
  <a style="background-color: #E6D0C5;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#E6D0C5"></a>
  </li>
    <li donn="#E2E2E2" class="class_colors">
  <a style="background-color: #E2E2E2;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#E2E2E2"></a>
  </li>
    <li donn="#F0E6CC" class="class_colors">
  <a style="background-color: #F0E6CC;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#F0E6CC"></a>
  </li>
    <li donn="#DCE6F1" class="class_colors">
  <a style="background-color: #DCE6F1;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#DCE6F1"></a>
  </li>
    <li donn="#DAE8E3" class="class_colors">
  <a style="background-color: #DAE8E3;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#DAE8E3"></a>
  </li>
    <li donn="#F44336" class="class_colors">
  <a style="background-color: #F44336;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#F44336"></a>
  </li>
    <li donn="#E91E63" class="class_colors">
  <a style="background-color: #E91E63;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#E91E63"></a>
  </li>
    <li donn="#673AB7" class="class_colors">
  <a style="background-color: #673AB7;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#673AB7"></a>
  </li>
    <li donn="#2196F3" class="class_colors">
  <a style="background-color: #2196F3;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#2196F3"></a>
  </li>
    <li donn="#00BCD4" class="class_colors">
  <a style="background-color: #00BCD4;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#00BCD4"></a>
  </li>
    <li donn="#4CAF50" class="class_colors">
  <a style="background-color: #4CAF50;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#4CAF50"></a>
  </li>
    <li donn="#CDDC39" class="class_colors">
  <a style="background-color: #CDDC39;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#CDDC39"></a>
  </li>
    <li donn="#FFEB3B" class="class_colors">
  <a style="background-color: #FFEB3B;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#FFEB3B"></a>
  </li>
    <li donn="#FF9800" class="class_colors">
  <a style="background-color: #FF9800;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#FF9800"></a>
  </li>
    <li donn="#795548" class="class_colors">
  <a style="background-color: #795548;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#795548"></a>
  </li>
    <li donn="#808000" class="class_colors">
  <a style="background-color: #808000;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#808000"></a>
  </li>
    <li donn="#C0C000" class="class_colors">
  <a style="background-color: #C0C000;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#C0C000"></a>
  </li>
    <li donn="#E6E600" class="class_colors">
  <a style="background-color: #E6E600;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#E6E600"></a>
  </li>
    <li donn="#E1FF00" class="class_colors">
  <a style="background-color: #E1FF00;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#E1FF00"></a>
  </li>
    <li donn="#E4F37E" class="class_colors">
  <a style="background-color: #E4F37E;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#E4F37E"></a>
  </li>
    <li donn="#F3F1B4" class="class_colors">
  <a style="background-color: #F3F1B4;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#F3F1B4"></a>
  </li>
    <li donn="#FAFECD" class="class_colors">
  <a style="background-color: #FAFECD;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#FAFECD"></a>
  </li>
    <li donn="#4F7800" class="class_colors">
  <a style="background-color: #4F7800;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#4F7800"></a>
  </li>
    <li donn="#6DA600" class="class_colors">
  <a style="background-color: #6DA600;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#6DA600"></a>
  </li>
    <li donn="#008000" class="class_colors">
  <a style="background-color: #008000;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#008000"></a>
  </li>
    <li donn="#00FF00" class="class_colors">
  <a style="background-color: #00FF00;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#00FF00"></a>
  </li>
    <li donn="#99FF99" class="class_colors">
  <a style="background-color: #99FF99;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#99FF99"></a>
  </li>
    <li donn="#C1FECA" class="class_colors">
  <a style="background-color: #C1FECA;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#C1FECA"></a>
  </li>
    <li donn="#000080" class="class_colors">
  <a style="background-color: #000080;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#000080"></a>
  </li>
    <li donn="#0000C0" class="class_colors">
  <a style="background-color: #0000C0;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#0000C0"></a>
  </li>
    <li donn="#0000FF" class="class_colors">
  <a style="background-color: #0000FF;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#0000FF"></a>
  </li>
    <li donn="#004FA0" class="class_colors">
  <a style="background-color: #004FA0;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#004FA0"></a>
  </li>
    <li donn="#0080FF" class="class_colors">
  <a style="background-color: #0080FF;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#0080FF"></a>
  </li>
    <li donn="#81BFFF" class="class_colors">
  <a style="background-color: #81BFFF;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#81BFFF"></a>
  </li>
    <li donn="#B7EEFE" class="class_colors">
  <a style="background-color: #B7EEFE;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#B7EEFE"></a>
  </li>
    <li donn="#800080" class="class_colors">
  <a style="background-color: #800080;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#800080"></a>
  </li>
    <li donn="#8000FF" class="class_colors">
  <a style="background-color: #8000FF;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#8000FF"></a>
  </li>
    <li donn="#A800FF" class="class_colors">
  <a style="background-color: #A800FF;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#A800FF"></a>
  </li>
    <li donn="#C000C0" class="class_colors">
  <a style="background-color: #C000C0;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#C000C0"></a>
  </li>
    <li donn="#FF00FF" class="class_colors">
  <a style="background-color: #FF00FF;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#FF00FF"></a>
  </li>
    <li donn="#C040FF" class="class_colors">
  <a style="background-color: #C040FF;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#C040FF"></a>
  </li>
    <li donn="#FF99FF" class="class_colors">
  <a style="background-color: #FF99FF;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#FF99FF"></a>
  </li>
    <li donn="#000000" class="class_colors">
  <a style="background-color: #000000;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#000000"></a>
  </li>
    <li donn="#303030" class="class_colors">
  <a style="background-color: #303030;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#303030"></a>
  </li>
    <li donn="#505050" class="class_colors">
  <a style="background-color: #505050;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#505050"></a>
  </li>
    <li donn="#808080" class="class_colors">
  <a style="background-color: #808080;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#808080"></a>
  </li>
    <li donn="#E0E0E0" class="class_colors">
  <a style="background-color: #E0E0E0;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#E0E0E0"></a>
  </li>
    <li donn="#FFFFFF" class="class_colors">
  <a style="background-color: #FFFFFF;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#FFFFFF"></a>
  </li>
    <li donn="#800000" class="class_colors">
  <a style="background-color: #800000;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#800000"></a>
  </li>
    <li donn="#C00000" class="class_colors">
  <a style="background-color: #C00000;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#C00000"></a>
  </li>
    <li donn="#FF0000" class="class_colors">
  <a style="background-color: #FF0000;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#FF0000"></a>
  </li>
    <li donn="#D74F00" class="class_colors">
  <a style="background-color: #D74F00;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#D74F00"></a>
  </li>
    <li donn="#FF8000" class="class_colors">
  <a style="background-color: #FF8000;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#FF8000"></a>
  </li>
    <li donn="#FFC040" class="class_colors">
  <a style="background-color: #FFC040;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#FFC040"></a>
  </li>
    <li donn="#FFC080" class="class_colors">
  <a style="background-color: #FFC080;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#FFC080"></a>
  </li>
    <li donn="#C0C0C0" class="class_colors">
  <a style="background-color: #C0C0C0;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#C0C0C0"></a>
  </li>
    <li donn="#FFD700" class="class_colors">
  <a style="background-color: #FFD700;cursor: pointer;" class="shadow-sm p-3 mb-5" donn="#FFD700"></a>
  </li>
              
      
              
      
            
    
            </ul>
  
          <div class="right-arrow active ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
              </svg>
          </div>
      </div>
  
      </div>
    </div>
  </div>
  
  
  
      <div class="container items">
  
  
  
        <div class="row">
          <div class="col-md-3  ">
          <div class="row ">
  
  
            <div class="col p-3 "> 
              <button type="button" class="btn  text-black bg-light  " onclick="effacer_filtre()">Effacer</button>
            </div>
            <div class="col d-flex align-items-center justify-content-center  col-sm-6  ">
              <button type="button" onclick="valider_filtre('filtre')" class="btn btn-submit">Appliquer</button>
            </div>
  
            <div class="col-12 p-2 ">
              <label for="" style="color:#00000070" class="text-left">Genre</label>
              <select id="combo_genre" class="border-right-0 border-top-0 border-left-0 p-2 w-100" name="">
                <option value="">Tout</option>
                <option value="Homme">Homme</option>
                <option value="Femme">Femme</option>
                <option value="Garçon">Garçon</option>
                <option value="Fille">Fille</option>
            
              </select>
            </div>
           
            <div class="col-12 p-2">
              <label for="" style="color:#00000070" class="text-left">Type du Tissu</label>
              <select class="border-right-0 border-top-0 border-left-0 p-2 w-100" name="" id="type_tissus">
                <option value="" selected="">Tout</option>
                                <option value="22">Jouhara</option>
                                <option value="23">Brocart rigide</option>
                                <option value="24">Brocart fluide</option>
                                <option value="25">Tissu Haj Omar</option>
                                <option value="26">Satin Duchesse</option>
                                <option value="27">Satin Duchesse</option>
                                <option value="28">Taffeta de soie</option>
                                <option value="29">Mousseline</option>
                                <option value="30">Crepe</option>
                                <option value="31">Taffeta</option>
                                <option value="32">Mlifa</option>
                                <option value="33">Mlifa Cachemire</option>
                                <option value="34">Velours</option>
                                <option value="35">Velours de soie</option>
                                <option value="36">Sousdi</option>
                                <option value="37">Satin</option>
                                <option value="38">Satin de soie</option>
                                <option value="40">Dentelle</option>
                                <option value="41">Autres</option>
                                <option value="42">Lin</option>
                                
             
              </select>
            </div>
  
  
            <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 font_side_filtter p-3" style="font-size: 14px; color:#00000070">
              Catégories   
            </div>
            <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 p-3">
              <div class="font_side_filtter " style="color:#00000070 ;cursor: pointer; " onclick="tout_selectionner_categories(this)" id="select_all">Tout sélectionner</div>
            </div>
            <div class="col">
  
              <div id="container-categorie" class="container-categorie h-100">
                <ul class=" p-0 mt-1 " id="Categories">
    <li class="col-12  li_align ">
  
    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="10">CAFTAN</a>
   
  
  </li>
  <hr class="m-0">
    <li class="col-12  li_align ">
  
    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="11">DJELLABA</a>
   
  
  </li>
  <hr class="m-0">
    <li class="col-12  li_align ">
  
    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="12">FARACHA</a>
   
  
  </li>
  <hr class="m-0">
    <li class="col-12  li_align ">
  
    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="13">GANDOURA</a>
   
  
  </li>
  <hr class="m-0">
    <li class="col-12  li_align ">
  
    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="14">TAKCHITA</a>
   
  
  </li>
  <hr class="m-0">
    <li class="col-12  li_align ">
  
    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="15">TAKCHITA</a>
   
  
  </li>
  <hr class="m-0">
    <li class="col-12  li_align ">
  
    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="16">GILET</a>
   
  
  </li>
  <hr class="m-0">
    <li class="col-12  li_align ">
  
    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="17">KIMONO</a>
   
  
  </li>
  <hr class="m-0">
    <li class="col-12  li_align ">
  
    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="18">JABADOR</a>
   
  
  </li>
  <hr class="m-0">
    <li class="col-12  li_align ">
  
    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="19">SEROUAL</a>
   
  
  </li>
  <hr class="m-0">
    <li class="col-12  li_align ">
  
    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="20">ABAYA</a>
   
  
  </li>
  <hr class="m-0">
    <li class="col-12  li_align ">
  
    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="21">BLOUSE OUJDIA</a>
   
  
  </li>
  <hr class="m-0">
                    
                 
         
                </ul>
              </div>
  
            
  
            </div>
  
            <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 font_side_filtter  p-3" style="color:#00000070">Etat tenue</div>
            <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 cursor_link font_side_filtter  p-3" style="color:#00000070" id="select_all" onclick="tout_selectionner_etat(this)">Tout sélectionner</div>
          
            <div class="col">
  
              <div id="container-categorie" class="container-categorie h-100">
                <ul class=" p-0 " id="etat">
                                      <li class="col-12  li_align ">
                    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="1">Neuf</a>
                   
                  </li>
    
                  <hr class="m-0">
                                    <li class="col-12  li_align ">
                    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="2">Excellent état</a>
                   
                  </li>
    
                  <hr class="m-0">
                                    <li class="col-12  li_align ">
                    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="4">Très bon état</a>
                   
                  </li>
    
                  <hr class="m-0">
                                    <li class="col-12  li_align ">
                    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="5">Bon état</a>
                   
                  </li>
    
                  <hr class="m-0">
                                    <li class="col-12  li_align ">
                    <a class="link_a font_side_filtter" style="cursor: pointer;" donn="6">Etat modéré</a>
                   
                  </li>
    
                  <hr class="m-0">
                      
                 
                    
         
                </ul>
              </div>
  
            </div>
  
  
          
           
           
            
           
  
  
            
  
  
  
          </div>
          </div>
  
  
          <div class="col-md-9 vendor_home_article_container">
  
                       
  <div class="row" id="div_articles">
  
  
  
   
  
  
  
            
      <p class="col-12" style="text-align: center;padding-top: 80px;">Aucun produit</p>
    


  
  
  </div>
  
  <div class="mt-5" style="text-align: center;padding-bottom:50px">


    <a onclick="afficher_plus('-')" class="paginationa" style="cursor: pointer">❮</a>
  
  
    <a onclick="afficher_plus('+')" class="paginationa" style="cursor: pointer">❯</a>
  
  
  </div>
  
  
          </div>
        
        </div>
  
  
  
  
  
  
  
  
  
  
  
  
          <button type="button" class="btn position-fixed btn-lg  m-2 " style="border-radius:50px ; bottom: 0 ; right: 0; background-color: #B09636" id="btn-back-to-top">
          <i class="fas fa-arrow-up"></i>
          </button>
      </div>
  
      
  
     
      <script>
  
  
  
        //Get the button
  let mybutton = document.getElementById("btn-back-to-top");
  
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
  scrollFunction();
  };
  
  function scrollFunction() {
  if (
  document.body.scrollTop > 20 ||
  document.documentElement.scrollTop > 20
  ) {
  mybutton.style.display = "block";
  } else {
  mybutton.style.display = "none";
  }
  }
  // When the user clicks on the button, scroll to the top of the document
  mybutton.addEventListener("click", backToTop);
  
  function backToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
  }
  
  
  
     
   var id_vendeur="715";
        var sort_selectionner="";
        var sort_selectionner_valider="";
        var id_sort_image_selectionner_valider="";
        var id_sort_image_selectionner="";
          var pagination=1;
          var min_valider=0;
          var max_valider=0;
          var min=0;
          var max=0;
          var tailles="";
      var tab_tailles = [];
      var colores="";
      var tab_colores = [];
      var categories="";
      var tab_categories = [];
      var etats="";
      var tab_etats = [];
      var search="";
      var genre="";
      var type_tissus="";
          var myTimeout;
          function favoris(id,art)
          {
              var snack = document.getElementById("snackbar");
              snack.className = snack.className.replace("show", "");
             var _token=$('input[name="_token"]').val();
             $.ajax({
         url:("https://app.beldilook.ma/fr/favoris"),
         method:"POST",
         data:{idarticle:id,
         _token:_token
         
         },
         success:function(data)
         {
         
         
             var x = document.getElementById("snackbar");
         
         // Add the "show" class to DIV
         x.className = "show col";
         
         // After 3 seconds, remove the show class from DIV
         console.log(art);
         $("#snackbar").html(data);
         if(data=="Produit a bien été ajouté dans la liste des favoris"){
          $("#"+art).attr("src","https://app.beldilook.ma/storage/likeplein.png");
         }else{
          $("#"+art).attr("src","https://app.beldilook.ma/storage/likevide_1.png");
         }
         clearTimeout(myTimeout);
          myTimeout=setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
         }
         ,error:function(error)
  {
  // error alert message
  console.log(error);
  }
         });
          }
         
  
  
  
  
  // filter
  
  
  
  /* seconde slide progress */
  
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value + " " +'DH'; // Display the default slider value
  
  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function () {
    const value = `${this.value} DH`
    output.innerHTML = value;
    max=this.value;
  }
  
  
  /* first slide progress */
  
  var input_minimum = document.getElementById("myRange_minimum");
  var pix_minimum = document.getElementById("pix_minimum");
  
  pix_minimum.innerHTML = input_minimum.value + " " + "DH"
  
  input_minimum.oninput = function () {
  
    const value = `${this.value} DH`
    pix_minimum.innerHTML = value;
    min=this.value;
  }
  
  
  
  
  const tabs = document.querySelectorAll(".scrollable-tabs-container li");
  
  const rightArrow = document.querySelector(
    ".scrollable-tabs-container .right-arrow svg"
  );
  const leftArrow = document.querySelector(
    ".scrollable-tabs-container .left-arrow svg"
  );
  const tabsList = document.querySelector(".scrollable-tabs-container ul");
  
  const leftArrowContainer = document.querySelector(
    ".scrollable-tabs-container .left-arrow"
  );
  const rightArrowContainer = document.querySelector(
    ".scrollable-tabs-container .right-arrow"
  );
  
  /* const removeAllActiveClasses = () => {
    tabs.forEach((tab) => {
      tab.classList.remove("active");
    });
  }; */
  
  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      if (tab.querySelector('img')) {
        tab.removeChild(tab.querySelector('img'));
      } else {
        var img = document.createElement('img');
        img.src = 'https://app.beldilook.ma/storage/Rectangle_4-removebg-preview.png';
        img.setAttribute("donn", tab.getAttribute("donn"));
        img.className = 'img_link_color col';
        tab.appendChild(img);
      }
    });
  });
  
  
  
  const manageIcons = () => {
    if (tabsList.scrollLeft >= 20) {
      leftArrowContainer.classList.add("active");
    } else {
      leftArrowContainer.classList.remove("active");
    }
  
    let maxScrollValue = tabsList.scrollWidth - tabsList.clientWidth - 20;
    console.log("scroll width: ", tabsList.scrollWidth);
    console.log("client width: ", tabsList.clientWidth);
  
    if (tabsList.scrollLeft >= maxScrollValue) {
      rightArrowContainer.classList.remove("active");
    } else {
      rightArrowContainer.classList.add("active");
    }
  };
  
  rightArrow.addEventListener("click", () => {
    tabsList.scrollLeft += 200;
    manageIcons();
  });
  
  leftArrow.addEventListener("click", () => {
    tabsList.scrollLeft -= 200;
    manageIcons();
  });
  
  tabsList.addEventListener("scroll", manageIcons);
  
  let dragging = false;
  
  const drag = (e) => {
    if (!dragging) return;
    tabsList.classList.add("dragging");
    tabsList.scrollLeft -= e.movementX;
  };
  
  tabsList.addEventListener("mousedown", () => {
    dragging = true;
  });
  
  tabsList.addEventListener("mousemove", drag);
  
  document.addEventListener("mouseup", () => {
    dragging = false;
    tabsList.classList.remove("dragging");
  });
  
  
  
  
  
  
  /* categorie */
  
  
  var listItems = document.querySelectorAll('#Categories li');
  var listItems_link = document.querySelectorAll('#Categories li a');
  
  var listItems_link_etat = document.querySelectorAll('#etat li a');
  var listItems_etat = document.querySelectorAll('#etat li');
  
  var listItems_taille = document.querySelectorAll('#scrollable-tabs-container-tailles  a');
  /* var all = document.getElementById('select_all'); */
  
  
  listItems.forEach(function (item) {
    item.addEventListener('click', function () {
      if (this.querySelector('img')) {
        this.removeChild(this.querySelector('img'));
      } else {
        var img = document.createElement('img');
        img.src = 'https://app.beldilook.ma/storage/Rectangle_4-removebg-preview.png';
        img.className = 'img_link col'
        this.appendChild(img);
      }
    });
  });
  
  
  listItems_etat.forEach(function (item) {
    item.addEventListener('click', function () {
      if (this.querySelector('img')) {
        this.removeChild(this.querySelector('img'));
      } else {
        var img = document.createElement('img');
        img.src = 'https://app.beldilook.ma/storage/Rectangle_4-removebg-preview.png';
        img.className = 'img_link col'
        this.appendChild(img);
      }
    });
  });
  
  listItems_link.forEach(function (item) {
    item.addEventListener('click', function () {
      this.classList.toggle('change');
    });
  })
  listItems_link_etat.forEach(function (item) {
    item.addEventListener('click', function () {
      this.classList.toggle('change_etat');
    });
  })
  
  /* taille */
  
  listItems_taille.forEach(function (item) {
    item.addEventListener('click', function () {
      this.classList.toggle('tailles');
    });
  })
  
  
  
  
  
  
  
  
  function open_filter()
  {
      
      $('#filter_modal').modal('show');
  }
  
  
  function valider_filtre(type_modal)
  {
      pagination=1;
      console.log(min);
      console.log(max);
   tailles="";
  
      tab_tailles = document.getElementsByClassName("tailles");
      for (i = 0; i < tab_tailles.length; i++) {
           if(i!=tab_tailles.length-1)
           {
              tailles+=tab_tailles[i].getAttribute("donn")+';';
           }else {
              tailles+=tab_tailles[i].getAttribute("donn");
           }
      }
      
      console.log(tailles);
  
        colores="";
  
  tab_colores = document.getElementsByClassName("img_link_color");
  for (i = 0; i < tab_colores.length; i++) {
       if(i!=tab_colores.length-1)
       {
          colores+=tab_colores[i].getAttribute("donn")+';';
       }else {
          colores+=tab_colores[i].getAttribute("donn");
       }
  }
  
  console.log(colores); 
  
  
   categories="";
  
  tab_categories = document.getElementsByClassName("change");
  for (i = 0; i < tab_categories.length; i++) {
       if(i!=tab_categories.length-1)
       {
          categories+=tab_categories[i].getAttribute("donn")+';';
       }else {
          categories+=tab_categories[i].getAttribute("donn");
       }
  }
  
  console.log(categories); 
  
  
   etats="";
  
  tab_etats = document.getElementsByClassName("change_etat");
  for (i = 0; i < tab_etats.length; i++) {
       if(i!=tab_etats.length-1)
       {
          etats+=tab_etats[i].getAttribute("donn")+';';
       }else {
          etats+=tab_etats[i].getAttribute("donn");
       }
  }
   genre=$('#combo_genre').val();
   type_tissus=$('#type_tissus').val();
  console.log(etats); 
  
  min_valider=min;
  max_valider=max;
  id_sort_image_selectionner_valider=id_sort_image_selectionner;
  sort_selectionner_valider=sort_selectionner;
  search=$('#search').val();
  if(type_modal=='filtre')
  {
    $('#filter_modal').modal('hide');
  }
  if(type_modal=='sort')
  {
    $('#modal_sort').modal('hide');
  }
  
  $('#modal_loading').modal('show');
  var _token=$('input[name="_token"]').val();
             $.ajax({
         url:("https://app.beldilook.ma/fr/filtre_page_vendeur"),
         method:"POST",
         data:{page:pagination,
         _token:_token,
         taille:tailles,
         categorie:categories,
         color:colores,
         etat:etats,
         prix_min:min,
         prix_max:max,
         search:search,
         sort:sort_selectionner_valider,
         genre:genre,
         type_tissue:type_tissus,
         id_vendeur:id_vendeur
         },
         success:function(data)
         {
         if(data!='erreur')
         {
          $( "#afficher_plus" ).remove();
          $('#div_articles').html(data);
          $('#div_nb_article').html($('#input_nbr_article').val());
         }
         $('#modal_loading').modal('hide');
       
         }
         ,error:function(error)
  {
  // error alert message
  
  $('#modal_loading').modal('hide');
  if(type_modal=='filtre')
  {
    $('#filter_modal').modal('show');
  }
  if(type_modal=='sort')
  {
    $('#modal_sort').modal('show');
  }
  
  console.log(error);
  }
         });
  
  
  
  }
  
  
  
  
  
  
  
  function afficher_plus(sign)
  {

    
if(sign=='+')
{
  pagination=pagination+1;
}
if(sign=='-')
{
  if(pagination==1)
{
  return
}
  pagination=pagination-1;
}
if(pagination==0)
{
  pagination=1;
}
$('#modal_loading').modal('show');
      var _token=$('input[name="_token"]').val();
             $.ajax({
         url:("https://app.beldilook.ma/fr/filtre_page_vendeur"),
         method:"POST",
         data:{page:pagination,
         _token:_token,
         taille:tailles,
         categorie:categories,
         color:colores,
         etat:etats,
         prix_min:min,
         prix_max:max,
         search:search,
         sort:sort_selectionner_valider,
         genre:genre,
         type_tissue:type_tissus,
         id_vendeur:id_vendeur
         },
         success:function(data)
         {
         if(data!='erreur')
         {
          $( "#afficher_plus" ).remove();
        /*   var content_d =$('#div_articles').html();
          content_d+=data; */
          
          $('#div_articles').html(data);
          document.getElementById('image_p').scrollIntoView();
          $('#div_nb_article').html($('#input_nbr_article').val());
          
         }
         $('#modal_loading').modal('hide');
         }
         ,error:function(error)
  {
  // error alert message
  console.log(error);
  $('#modal_loading').modal('hide');
  }
         });
  
  }
  
  
  function close_filter()
  {
    $('#myRange_minimum').val(min_valider);
    $('#pix_minimum').html(min_valider+' DH');
  
    $('#myRange').val(max_valider);
    $('#demo').html(max_valider+' DH');
  
    // tailles close
    tab_tailles_close = document.getElementsByClassName("class_tailles");
    var myArray = tailles.split(";");
    for (i = 0; i < tab_tailles_close.length; i++) {
      tab_tailles_close[i].classList.remove('tailles');
      if(myArray.includes(tab_tailles_close[i].getAttribute("donn")))
      {
        tab_tailles_close[i].classList.add('tailles');
      } 
  }
  
     
     // colors close
    tab_colors_close = document.getElementsByClassName("class_colors");
     myArray = colores.split(";");
    for (i = 0; i < tab_colors_close.length; i++) {
  
  
      if (tab_colors_close[i].querySelector('img')) {
      tab_colors_close[i].removeChild(tab_colors_close[i].querySelector('img'));
      }
      if(myArray.includes(tab_colors_close[i].getAttribute("donn")))
      {
        var img = document.createElement('img');
        img.src = 'https://app.beldilook.ma/storage/Rectangle_4-removebg-preview.png';
        img.setAttribute("donn", tab_colors_close[i].getAttribute("donn"));
        img.className = 'img_link_color col';
        tab_colors_close[i].appendChild(img);
      } 
  }
  
  // close categories
  
  var listItems2_close = document.querySelectorAll('#Categories li');
  var listItems_link2_close = document.querySelectorAll('#Categories li a');
  
  
  myArray = categories.split(";");
  
  
  for (i = 0; i < listItems2_close.length; i++) {
    if (listItems2_close[i].querySelector('img')) {
      listItems2_close[i].removeChild(listItems2_close[i].querySelector('img'));
      listItems_link2_close[i].classList.remove('change');
  } 
  
  if(myArray.includes(listItems_link2_close[i].getAttribute("donn")))
      {
        var img = document.createElement('img');
        img.src = 'https://app.beldilook.ma/storage/Rectangle_4-removebg-preview.png';
        img.className = 'img_link col'
        listItems2_close[i].appendChild(img);
        listItems_link2_close[i].classList.add('change');
      }
  }
  
  
  // close etat
  
  var listItems_etat2_close = document.querySelectorAll('#etat li');
  var listItems_link_etat2_close = document.querySelectorAll('#etat li a');
  
  myArray = etats.split(";");
  
  for (i = 0; i < listItems_etat2_close.length; i++) {
    if (listItems_etat2_close[i].querySelector('img')) {
      listItems_etat2_close[i].removeChild(listItems_etat2_close[i].querySelector('img'));
      listItems_link_etat2_close[i].classList.remove('change_etat');
  } 
  
  if(myArray.includes(listItems_link_etat2_close[i].getAttribute("donn")))
      {
        var img = document.createElement('img');
        img.src = 'https://app.beldilook.ma/storage/Rectangle_4-removebg-preview.png';
        img.className = 'img_link col'
        listItems_etat2_close[i].appendChild(img);
        listItems_link_etat2_close[i].classList.add('change_etat');
      }
  }
  
  
    $('#filter_modal').modal('hide');
  }
  
  
  
  function tout_selectionner_categories(select)
  {
      var listItems2 = document.querySelectorAll('#Categories li');
  var listItems_link2 = document.querySelectorAll('#Categories li a');
  
  
  if(select.innerHTML=="Tout sélectionner")
  {
  
  
  listItems2.forEach(function (item) {
  
      if (item.querySelector('img')) {
         
      } else {
        var img = document.createElement('img');
        img.src = 'https://app.beldilook.ma/storage/Rectangle_4-removebg-preview.png';
        img.className = 'img_link col'
        item.appendChild(img);
      }
   
  });
  
  listItems_link2.forEach(function (item) {
   
      item.classList.add('change');
   
  })
  
  select.innerHTML="Tout désélectionner";
  
  }else{
   
  
      listItems2.forEach(function (item) {
  
  if (item.querySelector('img')) {
      item.removeChild(item.querySelector('img'));
  } 
  
  });
  
  listItems_link2.forEach(function (item) {
  
  item.classList.remove('change');
  
  })
  select.innerHTML="Tout sélectionner";
  }
  }
  
  function tout_selectionner_etat(select)
  {
    
  
      var listItems_etat2 = document.querySelectorAll('#etat li');
  var listItems_link_etat2 = document.querySelectorAll('#etat li a');
  
  
  if(select.innerHTML=="Tout sélectionner")
  {
  
  
      listItems_etat2.forEach(function (item) {
  
      if (item.querySelector('img')) {
         
      } else {
        var img = document.createElement('img');
        img.src = 'https://app.beldilook.ma/storage/Rectangle_4-removebg-preview.png';
        img.className = 'img_link col'
        item.appendChild(img);
      }
   
  });
  
  listItems_link_etat2.forEach(function (item) {
   
      item.classList.add('change_etat');
   
  })
  
  select.innerHTML="Tout désélectionner";
  
  }else{
   
  
      listItems_etat2.forEach(function (item) {
  
  if (item.querySelector('img')) {
      item.removeChild(item.querySelector('img'));
  } 
  
  });
  
  listItems_link_etat2.forEach(function (item) {
  
  item.classList.remove('change_etat');
  
  })
  select.innerHTML="Tout sélectionner";
  }
  
  
  
  
  }
  
  function effacer_filtre()
  {
    $('#myRange_minimum').val(0);
    $('#pix_minimum').html(0+' DH');
  
    $('#myRange').val(0);
    $('#demo').html(0+' DH');
  
    // tailles close
    tab_tailles_close = document.getElementsByClassName("class_tailles");
    var myArray = tailles.split(";");
    for (i = 0; i < tab_tailles_close.length; i++) {
      tab_tailles_close[i].classList.remove('tailles');
   
  }
  
     
     // colors close
    tab_colors_close = document.getElementsByClassName("class_colors");
     myArray = colores.split(";");
    for (i = 0; i < tab_colors_close.length; i++) {
  
  
      if (tab_colors_close[i].querySelector('img')) {
      tab_colors_close[i].removeChild(tab_colors_close[i].querySelector('img'));
      }
  
  }
  
  // close categories
  
  var listItems2_close = document.querySelectorAll('#Categories li');
  var listItems_link2_close = document.querySelectorAll('#Categories li a');
  
  
  myArray = categories.split(";");
  
  
  for (i = 0; i < listItems2_close.length; i++) {
    if (listItems2_close[i].querySelector('img')) {
      listItems2_close[i].removeChild(listItems2_close[i].querySelector('img'));
      listItems_link2_close[i].classList.remove('change');
  } 
  
  
  }
  
  
  // close etat
  
  var listItems_etat2_close = document.querySelectorAll('#etat li');
  var listItems_link_etat2_close = document.querySelectorAll('#etat li a');
  
  myArray = etats.split(";");
  
  for (i = 0; i < listItems_etat2_close.length; i++) {
    if (listItems_etat2_close[i].querySelector('img')) {
      listItems_etat2_close[i].removeChild(listItems_etat2_close[i].querySelector('img'));
      listItems_link_etat2_close[i].classList.remove('change_etat');
  } 
  
  
  }
  }
  function open_sort()
  {
    $('#modal_sort').modal('show');
  }
  function select_sort(image_sort,sort)
  {
    $('#image_sort_1').css('visibility', 'hidden');
    $('#image_sort_2').css('visibility', 'hidden');
    $('#image_sort_3').css('visibility', 'hidden');
    $('#image_sort_4').css('visibility', 'hidden');
  
    sort_selectionner=sort;
    id_sort_image_selectionner=image_sort;
  
  $('#'+image_sort).css('visibility', 'visible');
  }
  
  function close_sort()
  {
    if(id_sort_image_selectionner_valider!="")
    {
      $('#image_sort_1').css('visibility', 'hidden');
    $('#image_sort_2').css('visibility', 'hidden');
    $('#image_sort_3').css('visibility', 'hidden');
    $('#image_sort_4').css('visibility', 'hidden');
  
    sort_selectionner=sort_selectionner_valider;
  
  $('#'+id_sort_image_selectionner_valider).css('visibility', 'visible');
    }else{
      $('#image_sort_1').css('visibility', 'hidden');
    $('#image_sort_2').css('visibility', 'hidden');
    $('#image_sort_3').css('visibility', 'hidden');
    $('#image_sort_4').css('visibility', 'hidden');
    }
    $('#modal_sort').modal('hide');
  }
  
  function effacer_sort()
  {
    $('#image_sort_1').css('visibility', 'hidden');
    $('#image_sort_2').css('visibility', 'hidden');
    $('#image_sort_3').css('visibility', 'hidden');
    $('#image_sort_4').css('visibility', 'hidden');
    sort_selectionner="";
  
  }
  
  
  
  let slideIndex = 1;
  showSlides(slideIndex);
  
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
  }
         </script>
    </div>
<app-footer></app-footer>



<script>
function enr_news()
{
  var email_inp=$("#email_inp").val();
  if(email_inp.replace( / +/g, '')=="")
  {
  
    $('#span_email').html("L'email est obligatoire");
   return ;
  }

  
  function validateEmail(email) {
  var re = /\S+@\S+\.\S+/;
  return re.test(email);
}


if(validateEmail(email_inp)==false){
  $('#span_email').html("l'adresse email est invalide");
  return;
}

  if ($("#sub-check").prop('checked')== false){
    $('#span_email').html("Vous devez accepter de recevoir des mails");
      return ;
     } 

     var _token=$('input[name="_token"]').val();
  $.ajax({

      url:("https://app.beldilook.ma/fr/register_newsletter"),
      method:"POST",
     data:{
      email: $("#email_inp").val(),
      _token:_token
     },

      success: function (data){
        console.log(data);
        
       
        
        if(data == 'Erreur' ){
          alert("Un problème est survenu. Veuillez ressayer ultérieurement.");
        }else{
          $('#modal_newsletter').modal('show');
          $("#email_inp").val('');
          $('#sub-check').prop('checked', false);
        }
       
      },

      error: function (request, status, error) {
        alert("Un problème est survenu. Veuillez ressayer ultérieurement.");
  }

  });
}
</script>
