<nav class="nav_top">
  <div class="container">
    <div class="row mr-0 responsive align-items-center">
      <div class="col col-lg-2 col-xl-2 col-md-12 col-sm-12 text-center">
        <a href="https://app.beldilook.ma/fr"><img alt="" class="img_logo_top image_obligatoire" src="images/logo-beldiloock.png"></a>
      </div>
      <div class="col col-lg-3 col-xl-3 ml-sm-5" style="text-align: center;">
        <div class="search d-flex justify-content-center">
          <form action="https://app.beldilook.ma/fr/home" method="get">
            <input class="form-control m-0" name="search" placeholder="Recherche" type="text"> <button style="background-color: transparent; border: none; position: absolute; top: 0; margin-left: 111px;" type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <div class="col col-xl-2 col-lg-2 col-md-12 col-sm-12" style="text-align: center;">
        <button class="btn_sell shadow" style="font-size: 10px;"><a class="text-light link_product" href="https://app.beldilook.ma/fr/ajout_produit"><span class="btn_plus">+</span> Vends avec Beldi Look</a></button>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12">
        <ul class="navbar-nav ml-auto d-flex flex-row justify-content-around align-items-center">
          <li class="nav-item bg-light p-1 border_log">
            <a class="nav-link p-0 text-dark" href="https://app.beldilook.ma/fr/login">Se connecter</a>
          </li>
          <li class="nav-item bg-light p-1 border_log">
            <a class="nav-link p-0 text-dark" routerLink="/inscription" routerLinkActive="active">S'inscrire</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-1 col-xl-1 col-md-12 col-sm-12">
        <div class="nav-item dropdown text-light">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-dark text-center text-light" data-toggle="dropdown" href="#" id="navbarDropdown" role="button"><img alt="language" class="image_obligatoire" src="assets/images/download-removebg-preview.png" style="height: 27px;"></a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right text-light">
            <a class="dropdown-item" href="https://app.beldilook.ma/fr/change_langue/en">Anglais</a> <a class="dropdown-item" href="https://app.beldilook.ma/fr/change_langue/fr">Francais</a> <a class="dropdown-item" href="https://app.beldilook.ma/fr/change_langue/ar">Arabe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row p-2 mr-0 contain_link mt-3">
    <div class="col">
      <a class="nav-link" href="https://app.beldilook.ma/fr/home">Accueil<span class="sr-only">(current)</span></a>
    </div>
    <div class="col">
      <a class="nav-link" href="https://app.beldilook.ma/fr/boutique">Boutiques</a>
    </div>
    <div class="col">
      <a class="nav-link" href="https://app.beldilook.ma/fr/nouveaute">Nouveautés</a>
    </div>
    <div class="col">
      <a class="nav-link" href="https://app.beldilook.ma/fr/boutique_une">Boutique à&nbsp; la une</a>
    </div>
    <div class="col">
      <a class="nav-link" href="https://app.beldilook.ma/fr/explorer">Explorer</a>
    </div>
    <div class="col">
      <a class="nav-link" href="https://app.beldilook.ma/fr/contacter_nous">Contactez nous</a>
    </div>
  </div>
</div>
