<nav class="nav_top">
  <div class="container">
    <div class="row mr-0 responsive align-items-center">
      <div class="col col-lg-2 col-xl-2 col-md-12 col-sm-12 text-center">
        <a href="https://app.beldilook.ma/fr"><img alt="" class="img_logo_top image_obligatoire" src="images/logo-beldiloock.png"></a>
      </div>
      <div class="col col-lg-3 col-xl-3 ml-sm-5" style="text-align: center;">
        <div class="search d-flex justify-content-center">
          <form action="https://app.beldilook.ma/fr/home" method="get">
            <input class="form-control m-0" name="search" placeholder="Recherche" type="text"> <button style="background-color: transparent; border: none; position: absolute; top: 0; margin-left: 111px;" type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <div class="col col-xl-2 col-lg-2 col-md-12 col-sm-12" style="text-align: center;">
        <button class="btn_sell shadow" style="font-size: 10px;"><a class="text-light link_product" href="https://app.beldilook.ma/fr/ajout_produit"><span class="btn_plus">+</span> Vends avec Beldi Look</a></button>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12">
        <ul class="navbar-nav ml-auto d-flex flex-row justify-content-around align-items-center">
          <li class="nav-item bg-light p-1 border_log">
            <a *ngIf="!isdisplayed" class="nav-link p-0 text-dark m-2"  routerLink="/login"> Se connecter </a>
          </li>

          <li class="nav-item bg-light p-1 border_log">
            <a *ngIf="!isdisplayed" class="nav-link p-0 text-dark m-2" routerLink="/inscrire" > S'inscrire </a>
          </li>
        </ul>
      </div>
      <!--      debut-profile-->



<!--        <ul *ngIf="isdisplayed"  class="navbar-nav justify-content-around align-items-center profile-container">-->
<!--          <div class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--              <img src="assets/images/user.png" alt="avatar" class="img_avatar image_obligatoire">-->

<!--              <span class="text-light">-->
<!--                john doe-->
<!--              </span>-->

<!--            </a>-->
<!--            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
<!--              <a class="dropdown-item" style="cursor: pointer;">Mon solde : 0,00 DH</a>-->
<!--              <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/myaccount'">Mon compte</a>-->
<!--              <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/devenir_vendeur'">Devenir vendeur</a>-->
<!--              <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/achats'">Mes achats</a>-->
<!--              <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/notifications'">Mes notifications</a>-->
<!--              <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/adresse_livraison'">Mes adresses de livraison</a>-->
<!--              <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/mes_favoris'">Mes favoris</a>-->
<!--              <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/chat_support'">Contacter support</a>-->
<!--              <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/suppression_compte'">Supprimer mon compte</a>-->
<!--              <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/logout'">Se déconnecter</a>-->
<!--            </div>-->
<!--          </div>-->


<!--              <a href="https://app.beldilook.ma/fr/notifications">-->
<!--                <img src="https://app.beldilook.ma/storage/568182.png" class="bell_not bell image_obligatoire" alt="bell">-->
<!--              </a>-->

<!--        </ul>-->
      <ul *ngIf="isdisplayed"  class="navbar-nav justify-content-around align-items-center profile-container d-flex align-items-center">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/images/user.png" alt="avatar" class="img_avatar image_obligatoire">

            <span class="text-light">
        john doe
      </span>

          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="cursor: pointer;">Mon solde : 0,00 DH</a>
            <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/myaccount'">Mon compte</a>
            <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/devenir_vendeur'">Devenir vendeur</a>
            <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/achats'">Mes achats</a>
            <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/notifications'">Mes notifications</a>
            <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/adresse_livraison'">Mes adresses de livraison</a>
            <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/mes_favoris'">Mes favoris</a>
            <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/chat_support'">Contacter support</a>
            <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/suppression_compte'">Supprimer mon compte</a>
            <a class="dropdown-item" [href]="'https://app.beldilook.ma/fr/logout'">Se déconnecter</a>          </div>
        </div>

        <a href="https://app.beldilook.ma/fr/notifications">
          <img src="https://app.beldilook.ma/storage/568182.png" class="bell_not bell image_obligatoire" alt="bell">
        </a>
      </ul>

      <!--      fin profile-->


      <div class="col-lg-1 col-xl-1 col-md-12 col-sm-12">
        <div class="nav-item dropdown text-light">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-dark text-center text-light" data-toggle="dropdown" href="#" id="navbarDropdown" role="button"><img alt="language" class="image_obligatoire" src="assets/images/download-removebg-preview.png" style="height: 27px;"></a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right text-light">
            <a class="dropdown-item" href="https://app.beldilook.ma/fr/change_langue/en">Anglais</a>
            <a class="dropdown-item" href="https://app.beldilook.ma/fr/change_langue/fr">Francais</a>
            <a class="dropdown-item" href="https://app.beldilook.ma/fr/change_langue/ar">Arabe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row p-2 mr-0 contain_link mt-3">
    <div class="col">
      <a class="nav-link" href="https://app.beldilook.ma/fr/home">Accueil<span class="sr-only">(current)</span></a>
    </div>
    <div class="col">
      <a class="nav-link" href="https://app.beldilook.ma/fr/boutique">Boutiques</a>
    </div>
    <div class="col">
      <a class="nav-link" href="https://app.beldilook.ma/fr/nouveaute">Nouveautés</a>
    </div>
    <div class="col">
      <a class="nav-link" href="https://app.beldilook.ma/fr/boutique_une">Boutique à&nbsp; la une</a>
    </div>
    <div class="col">
      <a class="nav-link" href="https://app.beldilook.ma/fr/explorer">Explorer</a>
    </div>
    <div class="col">
      <a class="nav-link" href="https://app.beldilook.ma/fr/contacter_nous">Contactez nous</a>
    </div>
  </div>
</div>
