<app-header></app-header>
<div style="padding-top: 15px">
  <div class="container form_register_container mt-3 pb-5 pt-5">
    <div class="row" style="width:46%; margin:0 auto;">
      <div class="col-12">
        <h2>Créer votre compte</h2>
        <form action="https://app.beldilook.ma/fr/register" class="form_register pt-2" method="post">
          <input name="_token" type="hidden" value="en5PhwFuG436crCIfSDZ3Cg3FvZieOElwZ2RJoXn">
          <div class="mb-3 mt-3">
            <label for="pwd">Prénom :</label> <input class="form-control" id="prenom" name="prenom" required="" type="text" value="">
          </div>
          <div class="mb-3">
            <label for="pwd">Nom :</label> <input class="form-control" id="nom" name="nom" placeholder="" required="" type="text" value="">
          </div>
          <div class="mb-3 mt-3">
            <label for="pwd">Email :</label> <input class="form-control" id="email" name="email" required="" type="email" value="">
          </div>
          <div class="mb-3">
            <label for="pwd">Mot de passe :</label> <input class="form-control" id="pwd" name="pswd" required="" type="password" value="">
          </div>
          <div>
            <button class="btn mt-4 btn-primary" style="width:100%;" type="submit">S'inscrire</button>
            <div class="or_separator text-center">
              or
            </div>
            <div class="connect_link_container d-flex flex-row justify-content-between">
              <a class="btn google_connect" href="https://app.beldilook.ma/fr/google/auth" role="button" style="text-transform:none; background-color:#fff;"><img alt="Google sign-in" src="/assets/images/google_logo.png" style="margin-bottom:3px; margin-right:5px" width="20px"> Se connecter avec google</a>
              <a class="btn google_connect" href="https://app.beldilook.ma/fr/facebook/auth" style="background-color:#fff;"><img alt="Google sign-in" src="/assets/images/fb_icon_325x325.png" style="margin-bottom:3px; margin-right:5px" width="20px">Se connecter avec facebook</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
