<app-header></app-header>


<div style="padding-top: 15px">

    
<div class="col" id="snackbar">Some text some message..</div>
<div class="container items boutique_page_container" style="padding-top:7px">
    <div class="row">
        <input type="hidden" name="_token" value="4c4T6MMjOTlcHZAQKwdlJBprecBXaY28z3ZY0K3S">
        

        <div class="col  width_card col-lg-3 col-md-4 col-sm-6 col-6 p-3 d-flex justify-content-center">



            <div class="card card_content border-0">

               

                <a href="https://app.beldilook.ma/fr/boutiqua/488">
                                            <img src="images/20240124172145782488PBO.JPEG" class="card-img-top img_product img-fluid" alt="product_card">
                                        </a>


                


                                   <img id="art488" onclick="favoris(488,this.id)" class="topright pointer" height="30" width="30" src="images/likevide_1.png" alt="">
                





              <div class="card-body p-2 ">
                 <p class="card-title text" data-toggle="almass collection ">almass collection  </p>
              </div>
            </div>
          </div>
          </div>
          </div>
<app-footer></app-footer>

